.menu{
    text-align: end;
    
}

body{
    margin: 100px 100px 100px 100px;
}

.sanat{
    text-align: center;
}

.gorsel{
    margin: 25px 25px 25px 25px;
}

.gorsela{
    text-align: center;
}